.display {
  height: 200px;
  display: flex;
  padding: 20px;
  background-color: aliceblue;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.925);
  z-index: 5;
}

.city {
  width: 250px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.city p {
  font-size: 2rem;
}
.weather-icon {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
